## 如何引入pandas
下面的引用语句已经是惯例了。

In [1]:
import pandas as pd
import numpy as np

## DataFrame对象101

- `data` 接受的数据，numpy的ndarray对象等。
- `index`   行索引
- `columns`  列索引

In [2]:
data = np.arange(10)
data = data.reshape((5,2))
data

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [3]:
index = pd.date_range('2024/9/13', periods=5)
index

DatetimeIndex(['2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17'],
              dtype='datetime64[ns]', freq='D')

In [4]:
columns = ['A', 'B']
df = pd.DataFrame(data=data, index=index, columns = columns)
df

            A  B
2024-09-13  0  1
2024-09-14  2  3
2024-09-15  4  5
2024-09-16  6  7
2024-09-17  8  9

In [ ]:
df.index

DatetimeIndex(['2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B'], dtype='object')

In [ ]:
df.dtypes

A    int64
B    int64
dtype: object

## DataFrame对象到numpy的ndarray对象

In [5]:
df.to_numpy()

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

## 更改DataFrame某列的数据类型

In [9]:
df['A'] = df['A'].astype(float)
df.dtypes

A    float64
B      int64
dtype: object

## 获得某一列的值
注意返回的是Series对象

In [10]:
df['A']

2024-09-13    0.0
2024-09-14    2.0
2024-09-15    4.0
2024-09-16    6.0
2024-09-17    8.0
Freq: D, Name: A, dtype: float64

## 获得某一行的值
注意返回的是Series对象。

In [11]:
df.loc['2024-9-13']

A    0.0
B    1.0
Name: 2024-09-13 00:00:00, dtype: float64

## Series对象101

- `data` 接受的数据
- `index` 行索引

In [12]:
df['A'].to_numpy()

array([0., 2., 4., 6., 8.])

In [13]:
df['A'].index

DatetimeIndex(['2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17'],
              dtype='datetime64[ns]', freq='D')

## DataFrame增加一列

In [15]:
df['C'] = 12
df

              A  B   C
2024-09-13  0.0  1  12
2024-09-14  2.0  3  12
2024-09-15  4.0  5  12
2024-09-16  6.0  7  12
2024-09-17  8.0  9  12

DataFrame某一列基于其他列的运算而获得

In [16]:
df['D'] = df['B'].map(lambda item: item+2)
df

              A  B   C   D
2024-09-13  0.0  1  12   3
2024-09-14  2.0  3  12   5
2024-09-15  4.0  5  12   7
2024-09-16  6.0  7  12   9
2024-09-17  8.0  9  12  11